<div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-large uk-table-expand uk-table-hover">
        <caption>Issues</caption>
        <thead>
            <tr>
                <th>Issue Number</th>
                <th>Title</th>
                <th>Description</th>
                <th>Client Name</th>
                <th>Department</th>
                <th>Status</th>
                <th>Priorty</th>
                <th>Assigned To</th>
                <th>Created At</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <td><a href="{% url 'update_issue' issue_id=issue.id %}">{{ issue.issue_number}}</a></td>
                <td>{{ issue.title }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.client }}</td>
                <td>{{ issue.department }}</td>
                <td>{{ issue.get_status_display }}</td>
                <td>{{ issue.get_priority_display }}</td>
                <td>
                    {% for p in issue.assigned_to.all %}
                    {{ p }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                    Unassigned
                    {% endfor %}
                </td>
                <td>{{ issue.created_at }}</td>
                <td>
                    <form action="{% url 'pdf_generation' %}" method="post" target="_blank">
                        {% csrf_token %}
                        <input type="hidden" name="issue_id" value="{{ issue.id }}">
                        <button type="submit" class="uk-button uk-button-primary">Print</button>
                    </form>
                </td>
                <td>
                    <a href="{% url 'add_to_print' issue_number=issue.issue_number %}" class="uk-button uk-button-primary">Add to print</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
