{% extends 'base.html' %}

{% block body %}
<div class="uk-container">
    <form method="post">
        {% csrf_token %}
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" class="uk-input" required>
        <br>
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" class="uk-input" required>
        <br>
        <button type="submit" class="uk-button uk-button-primary">Filter</button>
    </form>

    <h2>Filtered Issues</h2>
    {% if issues %}
        {% if issues.exists %}
            {% include 'display_issues.html' %}
        {% else %}
            <p>No issues found for the selected filters.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
